<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="15000" back>
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
    <li data-target="#myCarousel" data-slide-to="4"></li>
    <li data-target="#myCarousel" data-slide-to="5"></li>
    <li data-target="#myCarousel" data-slide-to="6"></li>
    <li data-target="#myCarousel" data-slide-to="7"></li>
    <li data-target="#myCarousel" data-slide-to="8"></li>
    <li data-target="#myCarousel" data-slide-to="9"></li>
    <li data-target="#myCarousel" data-slide-to="10"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag("/assets/images/pier_1280-853.jpg") %>
            <div class="carousel-caption">
      <p>What makes you think you will like heaven, if nothing in your life on earth resembles it.</p><span>Rabbi Abraham Heschel</span>
      </div>
    </div>

    <div class="item">
      <%= image_tag("/assets/images/pier_1280-853.jpg") %>
            <div class="carousel-caption long">
      <p>Sunday is the day which is at the very heart of the Christian life... Today I would strongly urge everyone to rediscover Sunday: do not be afraid to give your time to Christ! Yes let us open our time to Christ, that he may cast light upon it and give it direction.</p><span>Pope John Paul II</span>
      </div>
    </div>

    <div class="item">
      <%= image_tag("/assets/images/pier_1280-853.jpg") %>
            <div class="carousel-caption long">
      <p>I love the word pause... Such a time represents a kind of time that is vanishing: a floating time, completely free of usefulness, suspended between wakefulness and sleep. This is the time zone of wonder, when we fall out of the habitual, the taken-for-granted, and are startled by what is.</p><span>Noelle Oxenhandler</span>
      </div>
    </div>

    <div class="item"  data-interval="500000">
      <%= image_tag("/assets/images/pier_1280-853.jpg") %>
      <div class="carousel-caption">
      <p>For Sabbath is not merely going to church on Sundays; it is remembering the source of our air, which we can do any day.</p><span>Donna Schaper</span>
      </div>
    </div>

    <div class="item">
      <%= image_tag("/assets/images/pier_1280-853.jpg") %>
            <div class="carousel-caption long">
      <p>We continually try to be good people, whatever that means. In reality we are not always GOOD, but we are HOLY. Being good is something that you earn or acquire or achieve, but we're holy because we came forth from God. That's just a fact.</p><span>Richard Rohr</span>
      </div>
    </div>
    <div class="item">
      <%= image_tag("/assets/images/pier_1280-853.jpg") %>
            <div class="carousel-caption">
      <p>Sabbath is about basking in the lavishness of God's creative, loving activity of which you are an eternal part.</p><span>Sr. Joan Chittister OSS</span>
      </div>
    </div>
    <div class="item">
      <%= image_tag("/assets/images/pier_1280-853.jpg") %>
            <div class="carousel-caption">
      <p>It is a place for being!! not doing. For the most part you watch. You feel the sun on your skin. You do the things God intended.</p><span>Helen Stevenson</span>
      </div>
    </div>
    <div class="item">
      <%= image_tag("/assets/images/pier_1280-853.jpg") %>
            <div class="carousel-caption long">
      <p>The great lessons from the true mystics ••• is that the sacred is in the ordinary; that it is to be found in one!!s daily life!! in one's neighbors!! friends, and family!! in one's backyard.</p><span>Abraham Maslow</span>
      </div>
    </div>
    <div class="item">
        <%= image_tag("/assets/images/pier_1280-853.jpg") %>
            <div class="carousel-caption">
      <p>Dear God, I didn't think orange went with purple, until I saw the sunset on Tuesday. That was cool.</p><span>Sara, Children's Letters to God</span>
      </div>
    </div>
    <div class="item">
      <%= image_tag("/assets/images/pier_1280-853.jpg") %>
            <div class="carousel-caption">
      <p>We have only this moment, sparkling like a star in our hand ••• and melting like a snowflake. Let us use it before it is too late.</p><span>Marie Edith Beynon</span>
      </div>
    </div>
    <div class="item">
      <%= image_tag("/assets/images/pier_1280-853.jpg") %>
            <div class="carousel-caption">
      <p>Our true home is in the present moment. The miracle is not to walk on water. The miracle is to walk on the green earth in the present moment.</p><span>Thich Nhat Hahn</span>
      </div>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
