<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="15000" back>
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
    <li data-target="#myCarousel" data-slide-to="4"></li>
    <li data-target="#myCarousel" data-slide-to="5"></li>
    <li data-target="#myCarousel" data-slide-to="6"></li>
    <li data-target="#myCarousel" data-slide-to="7"></li>
    <li data-target="#myCarousel" data-slide-to="8"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag("pier_1280-853.jpg") %>
            <div class="carousel-caption">
      <p>By ourselves we cannot bridge the gap that separates the finite from the Infinite. God reaches out to us and we become holy as we welcome God who comes to us... This holiness is not something we can achieve; it is GIVEN.</p><span> Jean Vanier, Drawn into the Mystery of Jesus</span>
      </div>
    </div>

    <div class="item">
      <%= image_tag("pier_1280-853.jpg") %>
            <div class="carousel-caption long">
      <p>In every story there is a point of entry.  What finally brings about the recognition, the revelation?  How do we break through to a sense that we are not alone, that walking with us is a God who is madly in love with us and who does care?</p><span>William Bausch</span>
      </div>
    </div>

    <div class="item">
      <%= image_tag("pier_1280-853.jpg") %>
            <div class="carousel-caption long">
      <p>Everyone has a sanctuary. It is a place where we feel grounded, unhurried, and renewed.  We go there whenever we can, which never seems often enough.  A sanctuary is a place that restores us, replenishes us, nourishes us.  In this renewal, we are reminded, once again, of what really is important...</p><span>Terry Hershey, Sanctuary</span>
      </div>
    </div>

    <div class="item"  data-interval="500000">
      <%= image_tag("pier_1280-853.jpg") %>
      <div class="carousel-caption">
      <p>Sanctuary is where you go to cherish your life.  It's where you practice being present.  And it may not be that many steps from where you are, right now.</p><span>Terry Hershey, Sanctuary</span>
      </div>
    </div>

    <div class="item">
      <%= image_tag("pier_1280-853.jpg") %>
            <div class="carousel-caption">
      <p>The Sabbath was given to us by God for joy, for delight, for rest, and should not be marred by worry or grief.</p><span>Abraham Heschel, Sanctuary</span>
      </div>
    </div>
    <div class="item">
      <%= image_tag("pier_1280-853.jpg") %>
            <div class="carousel-caption long">
      <p>Play is subversive, really.  It subverts business as usual.  It subverts necessity.  It subverts utility.  It subverts all the chronos-driven, taskmaster-supervised, legalism-steeped activities that mark out most of our lives-that make us oh-so-useful, but bland and sullen in our usefulness.  Sabbath is for play.</p><span>Mark Buchanan, The Rest of God</span>
      </div>
    </div>
    <div class="item">
      <%= image_tag("pier_1280-853.jpg") %>
            <div class="carousel-caption long">
      <p>Ironically, because we don’t think of what we do as work, we never stop working.  The closest translation English offers to the rich Hebrew word Shabbat is "to cease."  The word implies not passivity but a decision to refrain from our work, our efforts, our busyness - not just coasting to a sputtering stop but stepping off the treadmill even as it continues to move. </p><span>Keri Wyatt Kent, REST - Living in Sabbath Simplicity</span>
      </div>
    </div>
    <div class="item">
      <%= image_tag("pier_1280-853.jpg") %>
            <div class="carousel-caption long">
      <p>Jesus invites us to “learn the unforced rhythms of grace” (Mt 11:30), to dance through life, or in it, rather than rushing headlong past it. To move in balance, gracefully.</p><span>Keri Wyatt Kent, Rest - Living in Sabbath Simplicity</span>
      </div>
    </div>
    <div class="item">
      <%= image_tag("pier_1280-853.jpg") %>
            <div class="carousel-caption long">
      <p>One thing was apparent:  going with the flow and living like everyone else does not automatically guarantee a slower life.  My nudge from God was true:  living slower requires living with intention.  And to live with intention means to make little daily choices that resonate deeply in our souls-that make sense deep in our being and ring true.</p><span>Keri Wyatt Kent, Rest - Living in Sabbath Simplicity</span>
      </div>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="index.html#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="index.html#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
